<mat-toolbar color="primary">  
    <h1>  
        Angular Shop
    </h1>  
    <button mat-button routerLink="/">Home</button>  
    <button mat-button routerLink="/about">About</button>
    <span class="flex-spacer"></span>
    <div [ngClass]="{login: username != null}">
        <button mat-button (click)="openDialog()" class="loginBtn">Login</button>
        <div *ngIf="username">
            Hi <span>{{username}}</span>
            <button mat-flat-button class="cartBtn">Check Cart!</button>
        </div>
    </div>
</mat-toolbar>

