.cartBtn{
    display: none;
    margin-left: 10px;
}
.flex-spacer{
    flex: 1 1 auto;
}
.login{
    font-size: 14px;
    font-weight: normal;
}
.login .loginBtn{
    display: none;
}
.login .cartBtn{
    display: inline-block;
}