<h1 mat-dialog-title>Login from</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.username" placeholder="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.pass" placeholder="password">
  </mat-form-field>
</div>
<div mat-dialog-actions style="padding-bottom: 25px;"> 
  <button mat-stroked-button color="primary" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.username" cdkFocusInitial>Login</button>
</div>
