<div class="container" style="margin-top: 25px;">
    <div class="row">
        <div class="col-md-12">
            <p>Added Items:</p>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of items">
                    <div>{{item.name}}</div>
                    <div>price: {{item.price | currency }}</div>
                </li>
                <li class="list-group-item">
                    <div>Total price: <span>0</span></div>
                </li>
            </ul>
            <br>
            <div class="cart-action">
                <button mat-raised-button color="warn">pay</button>
                <button mat-raised-button color="basic" (click)="clearCart()">empty cart</button>
            </div>
            <!-- <mat-card *ngFor="let item of items">
                <mat-header>
                    name: <mat-title>{{item.name}}</mat-title>
                </mat-header>
                <br>
                <mat-content>
                    <div>price: {{item.price | currency }}</div>
                </mat-content>
            </mat-card> 
            <br>
            <div class="cart-action">
                <button mat-raised-button color="warn">pay</button>
                <button mat-raised-button color="basic" (click)="clearCart()">empty cart</button>
            </div>-->
        </div>
    </div>
</div>
