<!-- <div class= "container">
    <hr>
    <div class="card" *ngIf="selectedProduct">
        <div class="card-header">
          Contact no.{{selectedProduct.id}}
        </div>
        <div class="card-block">
          <h4 class="card-title">{{selectedProduct.name}}</h4>
          <p class="card-text">
            {{selectedProduct.description}}
          </p>
          <div>{{selectedProduct.producer}}</div>
          <div>{{selectedProduct.date | date | uppercase}}</div>    
        </div>
  
      </div>
    <hr>
</div> -->
<div class="container">
    <mat-spinner *ngIf="products.length === 0"></mat-spinner>
    <h6 style="margin: 20px 5px">New Products:</h6>
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <mat-card >
                <mat-card-header>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>
                        {{product.price}} $/ {{product.quantity}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{product.description}}
                    </p>
                    <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button 
                            color="basic"
                            [routerLink]="['/products', product.id]">Details</button>
                    <button mat-raised-button 
                    color="warn"
                    (click)="addToCart(product)">add to cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <br>
    <button mat-raised-button (click)="openProducts()">See All Products</button>
</div>